<div fxLayout="column" fxFlex="grow" class="skill-container">
    <div class="skill-header" fxLayout="row" fxLayoutGap="16px">
        <mat-icon [svgIcon]="skill.icon"></mat-icon>
        <h4>{{ skill.name }}</h4>
    </div>
    <div fxLayout="column">
        <span style="font-size: 10px; font-style: italic; margin-top: 0.66rem;" *ngIf="skill.proficiency">Proficiency: {{ skill.proficiency }}%</span>
        <div *ngIf="skill.description" class="skill-description" [innerHTML]="skill.description">
            
        </div>        
    </div>
</div>