mat-icon, h4 {
    align-self: center;
}

h4 {
    margin:0;
    font-weight: 400;
    font-size: 16px;
}

div.skill-description {
    font-size: 14px;
    padding-right: 1rem;
    p {
        margin-top: 0;
        padding-right: 1rem;
    }
}

div.skill-container {
    margin-bottom: 1rem;
}

.mat-progress-spinner {
    margin-right: 1rem;
    align-self: center;
}
