div.logo {
    display            : block;
    width              : 200px;
    height             : 200px;
    //background-image : url("../../../assets/msd.png");
    background-position: 50% 50%;
    background-size    : 200px auto;
    background-repeat  : no-repeat;
    align-self         : center;
}

h3 {
    margin-bottom: 0.33rem;
}

h4 {
    margin     : 0;
    font-size  : 14px;
    font-weight: 500;
    color      : rgba(0, 0, 0, 0.54);
}

div.experience-cover span {
    text-align: center;
}

span.section-title {
    margin-top : 1rem;
    font-weight: 500;
}

div.project h4 {
    margin-top: 1em;
}

div.description {
    p {
        margin-top : 0.33rem;
    }

    p:first-child {
        margin-top : 0.66rem;
    }
}

span.project-role {
    font-style: italic;
}

div.experience-cover {
    //justify-content: center;
}