<div fxLayout="row" class="experience-container">
    <div fxLayout="column">
        <h3>{{ hobby.name }}</h3>
        <div [innerHTML]="hobby.description"></div>
        <span class="section-title" *ngIf="hobby.environment">Environment</span>
        <div *ngIf="hobby.environment" [innerHTML]="hobby.environment"></div>
        <span class="section-title" *ngIf="hobby.projects.length > 0">Projects</span>
        <div class="project" *ngFor="let project of hobby.projects">
            <h4>{{ project.name }}</h4>
            <span class="project-role">{{ project.role }}</span>
            <div *ngIf="project.description" class="description" [innerHTML]="project.description">
            </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>