@import '../../../palette.scss';

h3 {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,.54);
}

.mat-card-header {
    background: $main-color;
    color: $font-light-color;
}

.mat-card-subtitle {
    color: $font-light-color;
}

.mat-card-content {
    background: $tertiary-color;
}

.mat-card {
    margin-top: 1rem;
}