<mat-card>
    <mat-card-header>
        <mat-card-title>Education and Trainings</mat-card-title>
        <mat-card-subtitle>What I've learned.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column" fxLayoutGap="16px">
            <div class="skillset" fxLayout="column" fxLayoutGap="16px" *ngFor="let educationItems of educationsList">
                <h3>{{ educationItems.name | educationCategory }}</h3>
                <div class="skills" fxLayout="row wrap">
                    <cv-education [education]="education" fxFlex.gt-sm="2 2 33%" fxFlex="2 2 50%"
                        *ngFor="let education of educationItems.educations">
                    </cv-education>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>