<div class="header-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
    <div class="cover" fxLayout="column">
        <div class="container" fxLayout="column">
            <div class="photo"></div>
            <h1>Aurelien Plancque</h1>
        </div>
        <h2>Solution Designer</h2>
        <h2>Contact Center Integration Specialist</h2>
    </div>
    <div class="about" fxLayout="column">
        <h2>About</h2>
        <div fxLayout="row" class="residency">
            <mat-icon svgIcon="nz"></mat-icon><span>New Zealand Resident</span>
        </div>
        <p>Extensive experience in Contact Centre platforms integration and management, combined with strong development
            skills, intense business accumen and a passion for exceptional customer experience
            make me an confident person to take on any challenging mission. My years of experience in complex
            environments have equipped me with invaluable adaptation capabilities.
        </p>
        <p>
            I thrive in fast-paced businesses, always putting a customer first approach to every project I tackle. My
            strong communication skills are appreciated and I am a recognized team player.
        </p>
        <div class="contact" fxLayout="column">
            <div fxLayout="row">
                <mat-icon>phone</mat-icon><span>021 0889 5745</span>
            </div>
            <div fxLayout="row">
                <mat-icon>mail</mat-icon><span>aur8lien.plancque@gmail.com</span>
            </div>
            <div fxLayout="row">
                <mat-icon svgIcon="linkedin"></mat-icon><span>https://www.linkedin.com/in/aurelienplancque</span>
            </div>
        </div>
        <span class="fill-remaining-space"></span>
        <span fxHide fxShow.print class="note">Note: This resume is a print-out of a web page, and is best viewed at:
            https://aurelien-cv.herokuapp.com/</span>
    </div>
</div>