@import '../../../palette.scss';

div.header-container {
    padding: 1rem 1rem;
    background: $main-color;

    color: $font-light-color;
}

div.about {
    padding: 0 1rem;
    flex: 2 2 66%;
}

div.cover {
    margin: 1rem 0;
    padding: 0 1rem;
    flex: 2 2 50%;

    div.container {
        display: flex;
    }

    h1, h2 {
        text-align: center;
    }

    h1 {
        margin-bottom: 5px;
        margin-top: 1rem;
    }

    h2 {
        margin: 0;
        font-weight: 500;
    }
}

div.residency {
    margin-bottom: 1rem;

    span {
        align-self: center;
        margin-left: 1rem;
    }
}

div.photo {
    display: block;
    width: 200px;
    height: 200px;
    background: #E6E7ED;
    border: solid $tertiary-color 1rem;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    background-image: url("../../../assets/photo_l.jpg");
    background-position:50% 50%;
    background-size: 200px auto;
    background-repeat:no-repeat;   
    align-self: center;
}

div.cover div.content {
    width: 100%;
}

p {
    text-indent: 0rem;
    margin-top: 0;
}

span.note {
    font-style: italic;
}

.contact span {
    align-self: center;
    margin-left: 1rem;
}

div.contact {
    margin-top: 2rem;
}