div.container {
    padding: 1rem 1rem;
    overflow: visible;
}


div.container-print {
    height: fit-content;
    padding: 1rem 1rem;
    overflow: visible;
    overflow-wrap: break-word ;
}

.pb {
    page-break-after: always;
}