<cv-header></cv-header>
<cv-navigation fxHide.print="true"></cv-navigation>
<div class="container" fxLayout="column" fxHide.print="true">
    <router-outlet></router-outlet>
</div>
<div class="container-print" fxLayout="column" fxLayoutGap="32px" fxShow.print="true" fxHide>
    <cv-skills></cv-skills>
    <cv-experiences></cv-experiences>
    <cv-educations></cv-educations>
    <cv-hobbies></cv-hobbies>
</div>