<mat-card>
    <mat-card-header>
        <mat-card-title>Professional Experience</mat-card-title>
        <mat-card-subtitle>What I've done.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column" fxLayoutGap="32px">
            <cv-experience [experience]="experience" *ngFor="let experience of experiences"></cv-experience>
        </div>
    </mat-card-content>
</mat-card>