<mat-card>
    <mat-card-header>
        <mat-card-title>Hobbies and Personal Projects</mat-card-title>
        <mat-card-subtitle>What I like.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column" fxLayoutGap="32px">
            <cv-hobby [hobby]="hobby" *ngFor="let hobby of hobbies"></cv-hobby>
        </div>
    </mat-card-content>
</mat-card>