h3 {
    margin-bottom: 0.33rem;
}

h4 {
    margin     : 0;
    font-size  : 14px;
    font-weight: 500;
    color      : rgba(0, 0, 0, 0.54);
}

span.section-title {
    margin-top : 1rem;
    font-weight: 500;
}

div.education-content {
    padding-left: 16px;
}

div.project h4 {
    margin-top: 1em;
}

div.description {
    p {
        margin-top : 0.33rem;
        text-indent: 2rem;
    }

    p:first-child {
        margin-top : 0.66rem;
    }
}

span.project-role {
    font-style: italic;
}