<div fxLayout="row" class="experience-container">
    <div fxLayout="column" class="education-content">
        <h3>{{ education.title }}</h3>
        <h4>{{ education.school }}</h4>
    </div>
</div>