<mat-card>
    <mat-card-header>
        <mat-card-title>Skills</mat-card-title>
        <mat-card-subtitle>What I do.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column" fxLayoutGap="16px">
            <div class="skillset" fxLayout="column" fxLayoutGap="16px" *ngFor="let skillset of skillsList">
                <h3>{{ skillset.name | skillCategory }}</h3>
                <div class="skills" fxLayout="row wrap">
                    <cv-skill [skill]="skill" fxFlex.gt-sm="2 2 33%" fxFlex="2 2 50%"
                        *ngFor="let skill of skillset.skills">
                    </cv-skill>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>