/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
    height: fit-content;
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card {
    -moz-border-radius   : 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius        : 0px !important;
    padding              : 0 !important;
}

.mat-card-header {
    padding       : 16px;
    padding-bottom: 0;
}

.mat-card-content {
    padding: 16px;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.mat-divider {
    margin-top: 1rem !important;
}
