<mat-toolbar>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm fxLayoutAlign="space-evenly" style="width:100%;">
        <a mat-button [routerLink]="'/skills'"> Skills </a>
        <a mat-button [routerLink]="'/professional'"> Professional Experience </a>
        <a mat-button [routerLink]="'/education'"> Education & Training </a>
        <a mat-button [routerLink]="'/hobbies'"> Hobbies </a>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
        Explore
    </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <a mat-button [routerLink]="'/skills'"> Skills </a>
    <a mat-button [routerLink]="'/professional'"> Professional Experience </a>
    <a mat-button [routerLink]="'/education'"> Education & Training </a>
    <a mat-button [routerLink]="'/hobbies'"> Hobbies </a>
</mat-menu>