<div fxLayout="row" class="experience-container">
    <div fxLayout="column" fxFlex="1 1 25%" class="experience-cover">
        <div class="logo" [ngStyle]="{'background-image': 'url(../../../assets/' + experience.logo + ')'}"></div>
        <span>{{ experience.from }} - {{ experience.to }}</span>
    </div>
    <div fxLayout="column" class="experience-content" fxFlex="1 1 75%">
        <h3>{{ experience.position }}</h3>
        <h4>{{ experience.company }}</h4>
        <div [innerHTML]="experience.description"></div>
        <span class="section-title">Environment</span>
        <div [innerHTML]="experience.environment"></div>
        <span class="section-title" *ngIf="experience.projects.length > 0">Projects</span>
        <div class="project" *ngFor="let project of experience.projects">
            <h4>{{ project.name }}</h4>
            <span class="project-role">{{ project.role }}</span>
            <div class="description" [innerHTML]="project.description">
            </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>